[submodule "fa24-proj1-starter"]
	path = fa24-proj1-starter
	url = git@github.com-ralph-personal:ralphhermeling/fa24-proj1-starter
[submodule "fa24-lab-starter"]
	path = fa24-lab-starter
	url = git@github.com-ralph-personal:ralphhermeling/fa24-lab-starter
